<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="styles.css">
        <script src="code.js" defer></script>
    </head>
    <body>
        <h1>Carson Bentley</h1>
        <div>
            <span>This website uses a simple HTTP server. Click on the links below
                to view other pages. Type 'http://localhost:8000/info' into the search bar to 
                view the about page. 
            </span>
        </div>
        <a href="http://localhost:8000/experience">Experience</a>
        <a href="http://localhost:8000/about">About</a>
        <a href="http://localhost:8000/projects">Projects</a>
    </body>
</html>