<html>
    <head>
        <title>Projects</title>
    </head>
    <body>
        <div>
            <p>I worked on a tic-tac toe project last semester that used an
                ML trained model. It had several different modes and levels of difficulty.
            </p>
            <p>
                I created a fractal generator, using several different Python libraries, such TKinter,
                and Pallet.py
            </p>
            <p>
                I worked on a percolation assignment, written in Java. It utilized a union-find data structure,
                for efficiency.
            </p>
        </div>
    </body>
</html>